@use "@angular/material" as mat;

@mixin theme($theme) {
  .background {
    background-color: rgba(mat.get-theme-color($theme, primary-container), 0.75);
  }

  .text {
    color: if(mat.get-theme-type($theme) == 'dark', white, black);
  }
  

  .background{
    @media (pointer: fine) {
      &::-webkit-scrollbar-thumb {
        background-color: mat.get-theme-color($theme, primary);
      }
    }
  }
}