.container-factura {
    width: 100%;
    margin-top: 9px;
    padding-bottom: 15px;
}

.header-serch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.botones {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 24%;
}
 
.swal2-toast .swal2-title {
    color: #fff;
}

.swal2-toast .swal2-popup {
  background-color: #28a745;
}

.serch {
    width: 75%;
}

.container-item {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    justify-content: space-evenly;
}

.container-botones {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container-botones .botones {
    width: 100%;
    border-radius: 0px;
}


@media (max-width: 600px) {
    .header-serch {
        flex-direction: column;
    }

    .botones {
        width: 100%;
    }

    .serch {
        width: 100%;
    }

    .botones {
        width: 100%;
    }
}

